.page-header{
	color: firebrick ;
}

body {
    color: #3d0066;
	font-family: 'Open Sans', serif;
	max-width: 90%;
	margin: auto;
	background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,0.876721635919993) 41%, rgba(116,116,187,1) 93%, rgba(0,236,255,1) 100%); 
    background-image: url("https://m1.lmcdn.fr/media/1/5bedd1491a8f3118013c85c0/.jpg?width=650&height=650&format=jpg&quality=80&fit=bounds");
    background-repeat: no-repeat;
    background-position: : bottom;
    background-position: right;
    background-size: cover;
  }
body .page-header{
	background-color: yellow;
}

body .voisin{
	border-left: solid 3px blue;
	font-style: italic;
}

body .fermier{
	border-left: solid 3px red;
	font-style: italic;
}

p {
	line-height: 200%;
}

a:link {
	color:  green;
}

a:visited {
	color: #ff8c1a;
}

a:hover {
	color: #cc3300;
}

footer {
  	font-family: serif;
  	line-height: 200%;
  	color: #cc3300;
}

blockquote {
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 30px;
	background-color: #c2d6d6;
	border-left: solid 3px Firebrick;
}

blockquote p {
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 160%;
	font-style: italic;
}

.table1{
	padding: 20px;
}

td {
	border: 1px solid rgb(36, 35, 35);
	background-color: #333;
	color: #fff; 
	padding: 15px;
	text-align: center; font-size: 18px;
	font-size: 16px;
	border: solid 2px black;
}

}

.phrase{
	width: 50%;
	margin: auto;
}

.Good{
	text-transform: uppercase;
	font-style: normal; 
	color: green;
}

.Bad{
	font-style: normal; 
	text-transform: uppercase;
	color: red;
}

.blanc{
	background-color: white;
	color: black;
}

.pousseleve{
	background-image: url(https://raw.githubusercontent.com/becodeorg/CRL-Keller-3.31/master/Assets/bien.png?token=AUEZCU7NK4QFS52DPUQIK3DAX46F4);
	background-repeat: no-repeat;
    background-size: 1,5em;
	background-position: 22em;
	padding: 1.25em;
	margin: 1em;
		padding-bottom: 1em;
	}

.poussebaisse{
	background-image: url(https://raw.githubusercontent.com/becodeorg/CRL-Keller-3.31/master/Assets/mal.png?token=AUEZCU25GO4BC2RQDR5PGMLAX5CX4);
	background-repeat: no-repeat;
    background-size: 1,5em;
	background-position: 22em;
	padding: 1.25em;
	margin: 1em;
		padding-bottom: 1em;
}

.chat{
background-image: url(https://raw.githubusercontent.com/becodeorg/CRL-Keller-3.31/master/Assets/chat.png?token=AUEZCU6VXWY3EYNTWR342W3AX5DSM);
	background-repeat: no-repeat;
    background-size: 1,5em;
	background-position: 22em;
	padding: 1.25em;
	margin: 1em;
		padding-bottom: 1em;
}

.people{
		margin: 2em;
			padding: 0.25em;
}

.first{
	font-weight: bold;
}

.picture{
	float: left;
	margin: 10px;
}



.bon{
	clear: both;

}

img{
	object-fit: cover;
	width: 500px;
	height: 300px;
}

.boite{
float: left;
margin-bottom: 1em;
margin-right: 1.5em;
margin-top: 1.5em;
}

.legend, .legend1{
	padding: 0.30em;
	background-color: white;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	object-fit: cover;
}
